      <!-- 底部导航 -->
      <footer class="page-footer">
        <div class="footer content">
          <div class="footer-top">
            <div id="footer-about" class="footer-column custom-dropdown">
              <div class="footer-column-wrapper">
                <h4 class="footer-column-title footer-column-title custom-dropdown-title">关于</h4>
                <div class="footer-column-content footer-column-content custom-dropdown-content">
                  <ul>
                    <li>
                      <a href="https://www.glassesgallery.com/about-us" target="_self">关于瑞士宝</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/why-buy-glasses-online" target="_self">为何选择网购眼镜</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/affiliate" target="_self">友情连接</a></li>
                    <li>
                      <a href="https://blog.glassesgallery.com/" target="_blank">博客</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/faq" target="_self">常见问题</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/fda-and-ce-mark" target="_self">FDA标志和CE标志</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="footer-help" class="footer-column custom-dropdown">
              <div class="footer-column-wrapper">
                <h4 class="footer-column-title footer-column-title custom-dropdown-title">服务建议</h4>
                <div class="footer-column-content footer-column-content custom-dropdown-content">
                  <ul>
                    <li>
                      <a href="https://www.glassesgallery.com/shipment" target="_self">物流</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/track-order" target="_self">跟踪订单</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/pd-measurement" target="_self">测量你的瞳距</a></li>
                    <li>
                      <a href="https://eyeexam.glassesgallery.com/" target="_blank">在线验眼</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/contact" target="_self">帮助</a></li>
                    <li>
                      <a href="https://www.glassesgallery.com/site-map" target="_self">附近门店</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="footer-contact" class="footer-column">
              <div class="footer-column-wrapper expanded-m">
                <h4 class="footer-column-title">联系我们</h4>
                <div class="footer-column-content">
                  <p>有问题吗？保持联系！</p>
                  <p>周一至周五| 下午3点 - 午夜WT</p>
                  <p>&nbsp;</p>
                  <ul>
                    <li class="icon-phone" alt="Phone footer icon">1-888-215-6587</li>
                    <li class="icon-email" alt="Footer email icon">
                      <a href="mailto:cso@glassesgallery.com">cso@glassesgallery.com</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="crm" class="footer-column">
              <div id="crm-newsletter" class="footer-column-wrapper">
                <div id="crm-newsletter" class="expanded-m">
                  <h4 class="footer-column-title">保持联系</h4>
                  <div class="footer-column-content">
                    <form class="form subscribe" novalidate="novalidate" action="https://www.glassesgallery.com/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                      <input name="email" type="email" id="newsletter" placeholder="Sign up for Glasses Gallery news" data-validate="{required:true, &#39;validate-email&#39;:true}">
                      <button class="action subscribe arrow" title="Subscribe" type="submit">
                        <img src="./About Glasses Gallery_files/icon_EnterArrow.svg"></button>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
            <small class="copyright">
              <center><span>© 2018 Glasses Gallery Ltd. All Rights Reserved.</span></center></small>
          </div>
        </div>
      </footer>
      <!-- Start of glassesgallery Zendesk Widget script -->
      <iframe src="javascript:false" title="" style="display: none;" src="./About Glasses Gallery_files/saved_resource(4).html"></iframe>
      <div id="mana-please-wait" style="display:none;">
        <p>
          <img src="./About Glasses Gallery_files/please-wait.gif" alt="Loading...">
          <br>Loading...</p></div>
      <div id="desktop-search" class="block block-search inactive">
        <div class="block-overlay"></div>
        <div class="block-title">
          <span>Search</span></div>
        <div class="block block-content">
          <button class="block-close">
            <span>Close</span></button>
          <form class="form minisearch" id="search_mini_form" action="https://www.glassesgallery.com/catalogsearch/advanced/result/" method="get">
            <div class="field search">
              <label class="label" for="search" data-role="minisearch-label">
                <span>Search</span></label>
              <div class="control">
                <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                  <input type="text" value="" class="input-text tt-hint" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off" readonly="" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255);" dir="ltr">
                  <input id="desktop-search-field" type="text" name="q" value="" placeholder="Search" class="input-text tt-input" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                  <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: ratiomodern, serif; font-size: 35px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                  <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
                    <div class="tt-dataset tt-dataset-storeList-dataset"></div>
                  </div>
                </span>
                <div class="nested">
                  <a class="action advanced" href="https://www.glassesgallery.com/catalogsearch/advanced/" data-action="advanced-search">Advanced Search</a></div>
              </div>
            </div>
            <div class="actions">
              <button type="submit" title="Search" class="action search">
                <span>Search</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <noscript>
      <img src="https://certify.alexametrics.com/atrk.gif?account=Q0osq1kx0820/9" style="display:none" height="1" width="1" alt=""></noscript>
    <div class="reveal-overlay">
      <div id="popup-5afd445241dcd" class="popup widget block block-static-block popup-style-2" style="display:none" role="dialog" aria-hidden="true" data-yeti-box="popup-5afd445241dcd" data-resize="popup-5afd445241dcd" data-t="6gks4z-t">
        <div class="popup-coupon-code">
          <div id="popup-subscribe">
            <form id="popup-subscribe-newsletter-validate-detail" class="form subscribe" action="https://www.glassesgallery.com/newsletter/subscriber/new/" method="post">
              <div class="top">
                <p>Sign up for FREE progressive &amp; Transitions Lenses</p>
                <h2>On selected designer eyewear</h2>
                <input id="popup-subscribe-newsletter" name="email" required="true" type="email" placeholder="Enter Your Email address">
                <button class="action subscribe primary" title="Subscribe" type="submit">SEND ME A COUPON</button></div>
              <div class="bottom">
                <h5 style="font-size: 16px;">Only frames with
                  <img style="width: 20px; height: 20px;" src="./About Glasses Gallery_files/Lens_Promo_Icon.png" alt="">are applicable to this offer.</h5>
                <h5>By entering your email, you agree to subscribe Glasses Gallery newsletters and communications.</h5></div>
            </form>
          </div>
        </div>
        <p>
          <img src="./About Glasses Gallery_files/pop_up_ad_image.jpg" data-interchange="[https://www.glassesgallery.com/media/wysiwyg/pop_up_ad_image_ns.jpg, small], [https://www.glassesgallery.com/media/wysiwyg/pop_up_ad_image.jpg, medium]" data-resize="czbxcj-interchange" id="czbxcj-interchange" data-t="jcfrsl-t"></p>
        <a href="https://www.glassesgallery.com/about-us#close" class="modal-close">
          <span>Close</span></a>
      </div>
    </div>
    <div id="ads"></div>
  </body>
</html>