<include file="public/layout" />
  
<style type="text/css">
html, body {
	overflow: visible;
}

a.btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #999;
    cursor: pointer !important;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    margin: 0 5px 0 0;
    padding: 1px 6px;
    vertical-align: top;
}

 a.red:hover {
    background-color: #e84c3d;
    border-color: #c1392b;
    color: #fff;
}

</style>  
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>添加门店</h3>
        <h5>管理员在后台添加一个新门店</h5>
      </div>
    </div>
  </div>
  <form class="form-horizontal" action="{:U('Admin/Store/doadd')}" id="" method="post">
    <div class="ncap-form-default">
   	<dl class="row">
       <dt class="tit">
         <label><em></em>门店名</label>
       </dt>
       <dd class="opt">
         <input type="text" name="store_name" id="store_name" class="input-txt"   placeholder="请输入该实体店名称"/>
       </dd>
      </dl>
     <dl class="row">
       <dt class="tit">
         <label><em></em>门店邮箱</label>
       </dt>
       <dd class="opt">
         <input type="text" name="store_mail" id="store_mail" class="input-txt" placeholder="请输入门店的邮箱" /><span id="sone"></span>
       </dd>
     </dl>
     
     <dl class="row">
       <dt class="tit">
         <label><em></em>门店IP</label>
       </dt>
       <dd class="opt">
         <input type="text" name="store_ip" id="store_ip" class="input-txt" placeholder="请到http://api.map.baidu.com/lbsapi/getpoint/index.html里拾取坐标" /><span id="stwo"></span>
       </dd>
      </dl> 
      <dl class="row">
        <dt class="tit">
          <label for="consignee"><em>*</em>地址</label>
        </dt>
        <dd class="opt">
          <select id="province" name="province"  title="请选择所在省份">
               <option value="" class="ss">选择省份</option>              
           </select>
            <input type="text" name="address" id="address" class="input-txt"   placeholder="详细地址"/><span id="sthree"></span>
        </dd>
      </dl>
      <div class="bot"><input type="submit" name="" id="submitBtn" value="提交"></div>
    </div>
        
  </form>
</div>
<script type="text/javascript">
	var name = false;
	var mail = false;
	var ip   = false;
	var address=false;

	
		$.get('{:U('Admin/Store/city')}',{upid:0},function(data){
			for(var i=0;i<data.length;i++){
				//禁用option
				
				$(".ss").attr('disabled',true);
				var info='<option name="province" value="'+data[i]['id']+'">'+data[i]['name']+'</option>';			
				$("#province").append(info);
			}
		},'json');

		$("select").live('change',function(){
		//获取父级id
		id=$(this).val();
		o=$(this);
		//清除  把所有的同胞元素select 
		o.nextAll("select").remove();
		// alert(id);
		//Ajax
		$.ajax({
		'url':'{:U('Admin/Store/city')}',//请求的服务端地址
		'type':'get',//请求方式
		'async':true,//异步请求
		'data':{upid:id},//请求附加参数
		'dataType':'json',//响应数据返回类型
		//Ajax 响应成功 回调函数
		success:
		function(data){
			//创建select
			select=$("<select></select>");
			//内部追加option
			select.append("<option value='' class='mm'>--请选择--</option>");
			// alert(data);
			if(data.length>0){
			//遍历数据
			for(var i=0;i<data.length;i++){
				// alert(data[i].name);
				//把获取的name 存储在option标签里
				var info='<option name="city" value="'+data[i].id+'">'+data[i].name+'</option>';
				// alert(info);
				//把带有数据的option 内部插入到创建好的select 
				select.append(info);
			}

			//追加
			o.after(select);
			//禁用掉
			$(".mm").attr("disabled",true);
			}
			
		},
		//Ajax 响应失败的时候 回调函数
		error:
		function(){
			alert("Ajax响应失败");
		}
	});
	});


	$("#store_name").blur(function(){
		name = $(this).val();
		if(name==""){
		 name=true;
		}
	});
	
	$("#store_mail").blur(function(){
		mail = $(this).val();
		var reg = /\w+[@]{1}\w+[.]\w+/;
		if(mail.match(/^\w+@\w+(\.\w+)$/) == null){
			$("#sone").css("color", "red").html('请输入正确邮箱号');
			mail=false;
		}else{
			mail=true;
		}
	})
	
	$("#store_ip").blur(function(){
		ip =$(this).val();
		if(ip==""){
			$("#stwo").css("color","red").html('请输入一个ip地址');
			ip=false;
		}else{
			ip=true;
		}
	})
	
	$("#address").blur(function(){
		address = $(this).val();
		if(address==""){
			$("#sthree").css("color","red").html('请输入门店地址');
			address=false;
		}else{
			address=true;
		}
	})

	//表单提交
    $("#submitBtn").click(function() {
      $("input").trigger("blur");
      if (name && mail && ip && address) {
        return true;
      } else {
        return false;
      }
    });

</script>
</body>
</html>