<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>门店管理</h3>
                <h5>实体门店管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>按要求添加实体门店方法线上线下操作</li>
        </ul>
    </div>
            <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="user_id" axis="col3" class="">
                            <div style="text-align: center; width: 40px;" class="">ID</div>
                        </th>
                        <th align="left" abbr="nickname" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">门店名称</div>
                        </th>
                        <th align="center" abbr="level" axis="col5" class="">
                            <div style="text-align: center; width: 250px;" class="">门店地址</div>
                        </th>
                        <th align="center" abbr="total_amount" axis="col6" class="">
                            <div style="text-align: center; width: 250px;" class="">邮箱地址</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 150px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                    <div class="tDiv">
                        <div class="tDiv2">
                         <div class="fbutton"> <a href="{:U('Store/add')}">
                            <div class="add" title="新增文章">
                                <span><i class="fa fa-plus"></i>添加门店</span>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    </div>
                    <foreach name="data" item="v">
                    <tr id="list">
                        <td class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </td>
                        <td align="left" abbr="user_id" axis="col3" class="id">
                            <div style="text-align: center; width: 40px;" class="">{$v['id']}</div>
                        </td>
                        <td align="left" abbr="nickname" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">{$v['store_name']}</div>
                        </td>
                        <td align="center" abbr="level" axis="col5" class="">
                            <div style="text-align: center; width: 250px;" class="">{$v['address']}</div>
                        </td>
                        <td align="center" abbr="total_amount" axis="col6" class="">
                            <div style="text-align: center; width: 250px;" class="">{$v['mail']}</div>
                        </td>
                        <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                    <a href="{:U('Store/update',array('id'=>$v['id']))}" class="btn blue">编辑</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                                    <a class="btn red"  href="javascript:void(0)" data-url="" id="" onClick="delfun(this)">删除</a>
                                </div>
                        </td>
                            <td align="" class="" style="width: 100%;">
                            <div></div>
                        </td>
                    </tr>
                </foreach>
                </table>
            </div>
        </div>
</body>
<script type="text/javascript">
    $(".btn").click(function(){
        IDS=$(".id").children('div').html();
        $.get('{:U('Admin/Store/del')}',{'id':IDS},function(data){
           if(data==1){
                $("#list").remove();
           }
        },'json');


    })
</script>
</html>
