<include file="public/layout" />
  <div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>特色管理</h3>
        <h5>首页特色专栏管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
    <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span title="收起提示" id="explanationZoom" style="display: block;"></span>
    </div>
     <ul>
      <li>显示在首页底部推荐的产品栏</li>
      <li>最多只能显示四件特色商品</li>
    </ul>
  </div>
  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>特色推荐列表</h3>
        <h5>(共1条记录)</h5>
      </div>
      <a href=""><div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></a>
    </div>
    <div class="hDiv">
      <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton">       
          <a href="/index.php/Admin/goods/addEditSpecial">
          <div class="add" title="添加属性">
            <span><i class="fa fa-plus"></i>添加属性</span>
          </div>
          </a>          
        </div> 
      </div>
      <div style="clear:both"></div>
    </div>
      <div class="hDivBox">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
                <th class="sign" axis="col0" onclick="checkAllSign(this)">
                  <div style="width: 24px;"><i class="ico-check"></i></div>
                </th>
                <th align="left" abbr="order_sn" axis="col3" class="">
                  <div style="text-align: left; width: 100px;" class="">ID</div>
                </th> 
                <th align="left" abbr="consignee" axis="col4" class="">
                  <div style="text-align: left; width: 200px;" class="">SKU</div>
                </th>               
                <th align="left" abbr="article_show" axis="col5" class="">
                  <div style="text-align: left; width: 200px;" class="">显示</div>
                </th>
                <th align="center" abbr="article_time" axis="col6" class="">
                  <div style="text-align: center; width: 160px;" class=""> 操作</div>
                </th>
                <th style="width:100%" axis="col7">
                  <div></div>
                </th>
              </tr>
            </thead>
        </table>
      </div>
    </div>
    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0" data-url="/index.php/Admin/comment/commentHandle"><table>
  <tbody>
    <foreach name="res" item="val">
      <tr data-id="1">
        <td class="sign" axis="col0">
          <div style="width: 24px;"><i class="ico-check"></i></div>
        </td>
        <td align="left" abbr="nickname" axis="col3" class="">
          <div style="text-align: left; width: 100px;" class="">{$val['special_id']}</div>
        </td>        
        <td align="left" abbr="content" axis="col4" class="">
            <div style="text-align: left; width: 200px;" class="">{$val['sku']}</div>
        </td> 
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 200px;">
            <if condition="$val['status']==0">
              <span class="yes"><i class="fa fa-check-circle"></i>是</span>
              <else />
              <span class="no"><i class="fa fa-ban"></i>否</span>
              </if>
          </div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 160px;" class="">
            <a class="btn red" href="javascript:void(0);"><i class="fa fa-trash-o"></i>删除</a>
          </div>
           </td>
         <td align="" class="" style="width: 100%;">
            <div>&nbsp;</div>
          </td>
      </tr>
    </foreach>
          </tbody>
</table>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right"><div class="dataTables_paginate paging_simple_numbers"><ul class="pagination">    </ul></div></div>
</div>
</div>
      <div class="iDiv" style="display: none;"></div>
    </div>
    <!--分页位置--> 
    </div>
</div>
<script>
    // 表格行点击选中切换
    $(document).on('click','#flexigrid > table>tbody >tr',function(){
        $(this).toggleClass('trSelected');
        var checked = $(this).hasClass('trSelected');
        $(this).find('input[type="checkbox"]').attr('checked',checked);
    });

    $(".yes").click(function(){
      yes_id=$(this).parent('div').parent('td').prev('td').prev('td').children('div').html();
      $.get('{:U('Admin/goods/delSpecial')}',{id:yes_id},function(data){
        if(data.status==0){
          layer.msg(data.msg , {icon: 1});
        }
      },'json')
       $(this).parent('div').html('<span class="no"><i class="fa fa-ban"></i>否</span>');
    })

    $(".no").click(function(){
      no_id=$(this).parent('div').parent('td').prev('td').prev('td').children('div').html();
      $.get('{:U('Admin/goods/editSpecial')}',{id:no_id},function(data){
        if(data.status==0){
          layer.msg(data.msg , {icon: 1});
        }
      },'json')
      $(this).parent('div').html('<span class="yes"><i class="fa fa-check-circle"></i>是</span>');
    })

    $(".red").click(function(){
      id=$(this).parent('div').parent('td').prev('td').prev('td').prev('td').children('div').html();
      $.get('{:U('Admin/goods/delSpecial')}',{id:id},function(data){
          if(data.status==0){
          layer.msg(data.msg , {icon: 1});
        }
      },'json')
      $(this).parent('div').parent('td').parent('tr').remove();
    })
</script>
</body>
</html>