<include file="public/layout" />
<style>.err{color:#F00; display:none;}</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
  <div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
  <div id="append_parent"></div>
  <div id="ajaxwaitid"></div>
  <div class="page">
    <div class="fixed-bar">
      <div class="item-title">
        <a class="back" href="javascript:history.back();" title="返回列表">
          <i class="fa fa-arrow-circle-o-left"></i>
        </a>
        <div class="subject">
          <h3>顶部导航</h3>
          <h5>添加顶部导航详情页</h5></div>
      </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post" enctype="multipart/form-data" action="{:U('Admin/Top/doupdate')}" >
      <div class="ncap-form-default">
        <input type="hidden" name="id" value="{$res['id']}">
        <dl class="row">
          <dt class="tit">
            <label>
              <em>*</em>导航标题</label></dt>
          <dd class="opt">
            <input type="text" name="name" id="title" value="{$res['name']}" class="input-txt">
            <span class="err" id="err_title"></span>
            <p class="notic">写精简点，而且要有吸引力</p></dd>
        </dl>
        <dl class="row">
          <dt class="tit">
            <label>
              <em>*</em>页面连接内容</label></dt>
          <dd class="opt">
            <input type="text" name="link" id="goods_num" value="{$res['link']}" class="input-txt">
            <span class="err" id="err_goods_num"></span>
            <p class="notic">请写入*.html文件名,指定存放到application\admin\view\public</p></dd>
        </dl>
        <div class="bot">
          <button type="submit">确认提交</button>
      </div>
    </form>
  </div>
</body>
<script type="text/javascript">
      var TITLE =false;
      var TEXT =false;
      var HTM =false;
      var arr = new Array();
      function img_call_back(fileurl_tmp) {
        $("#prom_img").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }

      //获取标题
      $("#title").blur(function(){
        tit = $(this).val();
        if(tit == ""){
          TITLE = false;
        }else{
          TITLE = ture;
        }
      })

      //获取文字内容
      $("#price").blur(function(){
        tex = $(this).val();
         
      })

      //获取链接
      $("#goods_num").blur(function(){
        htm = $(this).val();
          
      })

    //表单提交
    $(".bot").children('a').submit(function() {
      $("input").trigger("blur");
      if (TITLE && TEXT && HTM) {
        return true;
      } else {
        return false;
      }
    });
    
</script>
</html>